# Add environment variables here required for local development
# Create local.env file with these filled in. Usually will contain sensitive data so do not push any .env files to git.

# Set AWS CLI profile to use
export AWS_PROFILE=default
export AWS_REGION="eu-west-1"

# Docker 
export IMAGE_TAG="local"
export IMAGE_NAME="python-requirements"